---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { Image } from "astro:assets";
import TagList from "../../components/TagList.astro";

export async function getStaticPaths() {
  const thoughts = await getCollection("thoughts");

  return thoughts.map((thought) => {
    return {
      params: {
        slug: thought.data.properties.Name.replaceAll(" ", "-").trim(),
      },
      props: {
        thought,
      },
    };
  });
}

export type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]["props"];
const { thought } = Astro.props;

const { Content } = await render(thought);
---

<BlogLayout>
  <TagList tags={thought.data.properties.Tags.multi_select} />
  <h1>
    {thought?.data?.properties?.Name}
  </h1>
  <!-- {
    thought?.data?.cover?.type === "file" ? (
      <Image
        src={thought.data.cover.file.url}
        alt=""
        decoding="async"
        loading="lazy"
        inferSize={true}
      />
    ) : null
  } -->
  <div class="blog-content">
    <Content />
    <button type="button" class="textToggle">Change Font</button>
  </div>
</BlogLayout>
<script>
  document.addEventListener("astro:page-load", () => {
    const toggleButton = document.querySelector(".textToggle");
    const contentContainer = document.querySelector(".blog-content");
    const swapText = () => {
      contentContainer?.classList.contains("open-dyslexic")
        ? contentContainer.classList.remove("open-dyslexic")
        : contentContainer?.classList.add("open-dyslexic");
    };

    toggleButton?.addEventListener("click", swapText);
  });
</script>
<style>
  .textToggle {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: var(--spacing-xs);
    color: var(--color-background);
    background-color: var(--color-text);
    height: max-content;
    width: var(--max-page-width);
    max-width: 100%;
    font-family: var(--font-family-sans);
  }
  h1 {
    font-size: 2rem;
    margin-bottom: var(--spacing-xs);
    @media (min-width: 1440px) {
      font-size: 5rem;
    }
  }
  .blog-content {
    font-family: var(--font-family-sans);

    h2,
    h3 {
      font-weight: bold;
      margin-bottom: var(--spacing-xs);
      text-decoration: underline;
    }

    &.open-dyslexic {
      font-family: var(--font-family-serif);

      h2,
      h3 {
        font-family: var(--font-family-serif);
      }
    }
  }
</style>
