/* Set base font size */
:root {
  font-family: var(--font-body);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: clamp(0, 2vw, 1rem);
}
main,
header,
footer {
  width: 100%;
}

/* index.css for elements */
svg {
  fill: var(--svg-fill, currentColor);
  stroke: var(--svg-stroke, currentColor);

  path {
    fill: var(--svg-fill, currentColor);
    stroke: var(--svg-stroke, currentColor);
  }
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: var(--font-size-base, 18px);

  @media (min-width: 1400px) {
    font-size: calc(var(--font-size-base) * 1.2);
  }
}

p {
  margin-bottom: 1.25rem;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

a:not(.card__link) {
  position: relative;
  text-decoration: underline;

  &::after {
    content: "";
    position: absolute;
    left: -3px;
    height: 100%;
    width: calc(100% + 6px);
    background-color: var(--color-text);
    transform: scaleY(0);
    transition: transform 75ms linear;
    transform-origin: bottom;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--color-background);
    &:after {
      transform: scaleY(1);
    }
  }
}
