/* Set base font size */
:root {
  font-family: var(--font-body);
  background-color: var(--color-background);
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-family: var(--font-body);
  background-color: var(--color-background);
  line-height: 1.6;
}
main,
header,
footer {
  width: 100%;
}

/* index.css for elements */
svg {
  fill: var(--svg-fill, currentColor);
  stroke: var(--svg-stroke, currentColor);

  path {
    fill: var(--svg-fill, currentColor);
    stroke: var(--svg-stroke, currentColor);
  }
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  font-weight: 400;
  font-size: var(--font-size-base, 18px);
  margin-bottom: var(--spacing-lg);

  @media (min-width: 1400px) {
    --font-size-base: var(--font-size-20);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

a:not(.card__link) {
  position: relative;
  text-decoration: underline;
}
