/* Set base font size */
:root {
  font-family: var(--font-body);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: clamp(1rem, 2vw, 2rem);
  padding-top: var(--spacing-xxl);

  @media (min-width: 768px) {
    padding-top: var(--spacing-3xl);
  }
}
main,
header,
footer {
  width: 100%;
}

/* index.css for elements */
svg {
  fill: var(--svg-fill, currentColor);
  stroke: var(--svg-stroke, currentColor);

  path {
    fill: var(--svg-fill, currentColor);
    stroke: var(--svg-stroke, currentColor);
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: var(--font-size-base, 18px);
}

a:not(.home-link) {
  position: relative;
  text-decoration: underline;

  &::after {
    content: "";
    position: absolute;
    left: -3px;
    bottom: 0;
    height: 100%;
    width: calc(100% + 6px);
    background-color: var(--color-text);
    transform: scaleY(0);
    transition: transform 100ms linear;
    transform-origin: bottom;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--color-background);
    &:after {
      transform: scaleY(1);
    }
  }
}
