---
import { getCollection } from "astro:content";

interface Props {
  postsToShow?: number;
}

const { postsToShow = 4 }: Props = Astro.props;
const allBlogPosts = await getCollection("thoughts");
---

<section>
  <ul>
    {
      allBlogPosts.map((post, index) => {
        if (index >= postsToShow) return null;
        return (
          <li>
            <a
              href={`/thoughts/${post.data.properties.Name.replaceAll(" ", "-").trim()}`}
            >
              {post.data.properties.Name}
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
