---
// TODO
// also get this into notion
---

<footer class="footer content mx-auto mt-auto">
  Get in touch at <a href="mailto:jeremy@jpittard.net">jeremy@jpittard.net</a> I
  am also on <a
    href="https://www.linkedin.com/in/jeremypittard/"
    target="_blank"
    rel="noopener noreferrer">LinkedIn</a
  > &amp;
  <a
    href="https://bsky.app/profile/nosuchmanasjezz.bsky.social"
    target="_blank"
    rel="noopener noreferrer">Bluesky</a
  > (well, trying).
</footer>
