---
import Logo from "../assets/logo.svg";
---

<header class="header content mx-auto pb-4">
  <nav>
    <ul>
      <li><a class="home-link" href="/"><Logo width={50} height={50} /></a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    padding-bottom: var(--spacing-xs);
    padding-top: 0;
    margin-bottom: var(--spacing-md);
  }
  svg {
    --svg-fill: var(--color-background);
    --svg-stroke: var(--color-text);
    stroke-width: 4px;
  }
</style>
