---
import Logo from "../assets/logo.svg";
---

<header class="header narrow mx-auto">
  <nav>
    <ul>
      <li><a href="/"><Logo width={50} height={50} /></a></li>
    </ul>
  </nav>
</header>
<style>
  svg {
    --svg-fill: var(--color-background);
    --svg-stroke: var(--color-text);
    stroke-width: 4px;
  }
</style>
