---
// TODO content collection for the text here to live in notion
---

<section>
  <h1 class="text-base">
    I'm JP. A Frontend Engineer based in Perth, Western Australia. I build user
    interfaces that are fast, accessible and a joy to use. I believe that
    culture, collaboration and community are keys to building great products.
  </h1>
</section>
