---
// TODO content collection for the text here to live in notion
---

<section>
  <p>
    I'm JP. A Frontend Engineer based in Perth, Western Australia. I build user
    interfaces that are <a href="#" target="_blank">fast</a>, accessible and
    delightful use.
  </p>
  <p>
    I believe that Culture, Collaboration and Community are keys to building
    great products.
  </p>
  <p>
    Currently, I'm working on multiple products for Cash Converters juggling
    React, Vue and Angular with some .Net sprinkled in for good measure. Before
    moving into product development, I spent 5 years cutting my teeth in award
    winning agencies working on projects for some of Australia's biggest brands.
  </p>
</section>
