---
import "../styles/main.css";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main class="page mx-auto">
    <slot />
  </main>
</BaseLayout>
<style>
  main {
    --max-page-width: 35em;
  }
</style>
